<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
    <div class="main">
        <h1>Petition for indecisive whiners!</h1>
<img src="" alt="">

            {{{body}}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/canvas.js" charset="utf-8"></script>

</div>

    </body>

</html>
