<p>What's the purpose of winter anyway if theres no snow</p>



{{#if errorMessage}}
<h4>{{errorMessage}}</h4>
{{/if}}

<form autocomplete="off" method="POST">

        <input type="hidden" name="signature" id="sig-field" value="">
        <input name="_csrf" type="hidden" value="{{csrfToken}}">

        <button id="submit-button">submit</button>

    <div class="canvas">
        <canvas id="canv" width="900" height="180"></canvas>
    </div>

</form>
