
<p>Please tell us a little bit more about yourself:</p>

<div class="profilePlace">
    {{#if errorMessage}}
    <h4>{{errorMessage}}</h4>
    {{/if}}

<form class="profile" method="POST" action='/profile'>
<input type="city" name="city" placeholder="city (optional)">
<input type="age" name="age" placeholder="age (optional)">
<input type="url" name="url" placeholder="homepage (optional)">
<input name="_csrf" type="hidden" value="{{csrfToken}}">
<button type="submit">Continue</button>
</form>
</div>
